<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <JSONLayout complete="false" eventEol="true" compact="true" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="warn"><AppenderRef ref="Console"/></Root>
  </Loggers>
</Configuration>
